<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Digital Twin</title>
</head>
<body>
    <header>
        <div class="head-container">
            <h1>
                Gearheads monitoring
            </h1>
        </div>
    </header>
    <div class="main-container">
    {% for robot in robots %}
        <h1>{{ robot.name }}</h1>

        <table class="table_bot">
            <thead>
                <tr>
                    <th>Moving Speed</th>
                    <th>Rotation</th>
                    <th>Distance forward</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ robot.speed }} c/s</td>
                    <td>{{ robot.turn }} d</td>
                    <td>{{ robot.distance }} cm</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
</div>


    
</body>
</html>